* {
  box-sizing: border-box;
}

:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}

html {
  font-size: 62.5%;
}

/* khôi phục lại chỡ chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/*======================== common================ */
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
  /* margin-left: auto;
  margin-right: auto; */
}

.btn {
  display: inline-block;
  min-width: 118px;
  line-height: 50px;
  padding: 0 16px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  background: #171100;
  border-radius: 999px;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.heading-lv2 {
  color: #171100;
  font-family: var(--primary-color);
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1.26;
  letter-spacing: -0.76px;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}
.break-all {
  word-break: break-all;
}

/* ===================== header ============================== */
.header {
  background-color: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.header .nav {
  margin-left: auto;
}
.header .nav ul {
  display: flex;
}

.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
  position: relative;
}

.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  position: absolute;
  bottom: 6px;
  left: 21px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.header .btn-sign-up {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}
/* hero */
.hero {
  padding-top: 56px;
  padding-bottom: 65px;
  background-color: #fffcf4;
}

.hero .body {
  display: flex;
}

/*==================== hero left ==================*/
.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .hero-summary {
  position: absolute;
  bottom: 48px;
  right: 0;
  width: 270px;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 12px;
}

.hero .hero-summary .item {
  display: flex;
  margin-bottom: 2.2rem;
  align-items: center;
}

.hero .hero-summary .icon {
  background-color: #fff9e8;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .hero-summary .icon2 {
  background-color: #fcefff;
}

.hero .hero-summary .icon3 {
  background-color: #ebeaff;
}

.hero-summary .info {
  margin-left: 1.6rem;
}

.hero-summary .info .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 2.6rem;
}

.hero-summary .info .title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #171100;
}

/*============ hero right =============*/
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}

.hero .heading {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 1.17;
  color: #171100;
  letter-spacing: -1.16px;
}

.hero .desc {
  margin-top: 22px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}

.hero .cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}
.hero-cta {
  line-height: 64px;
  min-width: 180px;
  background-color: var(--primary-color);
}

.hero .watch-video {
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: flex;
  margin-left: 28px;
  align-items: center;
}

.hero .watch-video .icon {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 40px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .watch-video span {
  margin-left: 14px;
  color: #171100;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67px;
}

.hero .desc-recent {
  margin-top: 48px;
}

.hero .stats {
  margin-top: 8px;
}

.hero .stats strong {
  margin-right: 14px;
  color: #171100;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.22;
}

.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}

/* =========== popular =============== */
.popular {
  padding: 65px 0;
  margin-top: 135px;
}

.popular-top .info .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.66;
}

.popular .popular-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular-top .controls {
  display: flex;
  gap: 18px;
}

.popular-top .control-btn {
  background: transparent;
  border: 1px solid var(--primary-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular-top .control-btn:hover {
  opacity: 0.8;
}

.popular-top .control-btn:nth-child(2) {
  background: var(--primary-color);
}

.popular .course-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}

.popular .course-item {
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
  flex: 1;
}

.popular .course-item:hover {
  border: 1px solid transparent;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular .course-item .thumb {
  width: 100%;
  height: 278px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.popular .course-item .info {
  padding: 16px 22px 22px;
}

.popular .course-item .foot,
.popular .course-item .rating,
.popular .course-item .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular .course-item .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.popular .course-item .value {
  color: #fea31b;
  font-size: 1.6rem;
  line-height: 1.75;
  margin-left: 6px;
}

.popular .course-item .desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}

.popular .course-item .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.popular .course-item .foot {
  margin-top: 12px;
}

.popular .course-item .btn-book {
  border: none;
}

.popular .course-item .btn-book:hover {
  background-color: var(--primary-color);
}

/* ================ feedback==================== */
.feedback {
  margin-top: 135px;
  padding: 96px 0;
  background: #2e2100;
}

.feedback-list {
  display: flex;
  overflow: hidden;
}

.feedback .feedback-item {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
}

.feedback .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback .info .member-name {
  color: #f7f7f7;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42;
  margin-top: 18px;
}

.feedback .info .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86;
}

.feedback-item .dots {
  display: flex;
  gap: 6px;
}

.feedback-item .dots .dot {
  margin-top: 26px;
  cursor: pointer;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
}

.feedback-item .dots .dot.active {
  background: var(--primary-color);
  cursor: default;
}

.feedback-item .content {
  /* margin-left: auto; */
  width: 66%;
}

.feedback-item .content blockquote {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54;
}
